
<% content_for :sidebar do %>
<p> yolo </p>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movielist.title %>
</p>


<%= link_to 'Edit', edit_movielist_path(@movielist) %> |
<%= link_to 'Back', movielists_path %>
