.container{
	text-align: center;
	.login{
	.input-group{
		display: block;
    	margin-left: auto;
    	margin-right: auto; 
    	width: 300px;
    	margin-bottom: 10px;
	}
	.btn.btn-primary{
    	width: 300px !important;
	}
	
}

}

.page-header{
	img{
		display: block;
    	margin-left: auto;
    	margin-right: auto; 
   	}
}


.signin {
	text-align: center;
	
	.form-control {
		width: 300px;
		display: inline-table;
	}

	.checkbox{
		display: inline-table;
	}

	.btn.btn-lg.btn-primary.btn-block{
		width: 300px;
		display: inline-table;
		background-color: #204396;
	}
}
