// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie {

	.poster {
		text-align: center;
		margin-top: 20px;

		.seen {
			width: 100%;
			max-width: 250px;
			margin-top: 10px;
		}

		.line {
			width: 100%;
			max-width: 250px;
		}
		.addtolist {
			width: 100%;
			max-width: 220px;
			margin-top: 10px;
		}

		.dropdown-menu {
			width: 100%!important;
			text-align: left;
			padding: 10px;
		}

		.dropdown-menu tr td:first-child {
			width: 80%;
		}

		.dropdown-menu tr {
			border-bottom: 1px solid #898B8E;
		}

		.dropdown-menu tr td{
			padding: 5px;
		}


		.nocaret {
			width: 100%;
			max-width: 30px;
			margin-top: 10px;
		}
	}

	.title {
		color: blue;
	}

	.year {

	}

	.desc {
		padding-top: 10px;
		padding-bottom: 5px;
		border-bottom: 2px dotted #898B8E;
		border-top: 2px dotted #898B8E;
	}

	.releasedate {
		margin-top: 10px!important;
	}
	
}

.friendinfo {
	margin-bottom: 10px!important;

	.btn.btn-default {
		margin-left: 10px!important;
		margin-right: 10px!important;
	}
}
.mylists {
	margin-top: 20px!important;

	.listscol {
		height: 100%!important;
		border-right: solid 2px rgba(0, 0, 0, 0.2);
		min-height: 400px;
	}
	.btn {
		width: 100%!important;
		margin-bottom: 2px;
	}
	.movielist{
		.btn.btn-default{
			width: 100px!important;
			float: right;

		}
	}
}

.movielist {

	img {
		height: 170px;
	}
}
.singlelist {
}

.mainpage {
	margin-right: 10px;
	margin-bottom: 10px;
	
	.listcontainer {
		height: 200px;
		
		img {
			height: 190px;
		}

		.movies {
			overflow-x: hidden;
			white-space: nowrap;
			padding: 5px;
			margin-left: 45px;
			margin-right: 45px;
		}

		.btn {
			height: 200px;
			text-align: center;
			width: 50px;
			background-color: #8ad7f8;
			border: none;
		}

		.btn.left {
			position: absolute;
			left: 10px;
			top: 43px;
		}

		.btn.right {
			position: absolute;
			right: 10px;
			top: 43px;	
		}

	}

	.friendactivity {
		margin-bottom: 20px!important;
	}

	.friendinfo {
		background-color: white;
		font-size: 19px;
		padding: 5px;

		img {
			height: 40px;
			width: 40px;
		}
	}

	.movielist {
		background-color: white;
		overflow-x: hidden;
		white-space: nowrap;
		padding-bottom: 5px;
		padding-left: 5px;

		img {
			height: 120px;
		}
	}
}


.followingbuttons {
	padding-top: 10px;
	padding-bottom: 10px;
}

.list-name {
	
}
.list-info{
	background-color: grey !important;
	img{
		width: 32%;
		padding: 5px; 
	}
}

.stats {
	width: 100%;
	text-align: center
}
.stats td {
	width: 33%;
	border: none!important;
}

#nextrandom {
	position: absolute;
	left: -40px;
	top: 65px;		
	width: 100px!important;
	height: 40px;
	margin-left: 10px;
}

.btn.followers{
	background-color: white !important;
 	border: 1px solid rgba(0,0,0, 0.2);
  	color: black;
  	width: 100%;
  	height: 50px;
}

.btn.followers p{
	padding-top: 10px;
	font-size: 30px;
	color: #8AD7F8;
}

.btn.btn-primary{
	width: 100%;
	margin-top: 10px;
}

.profilegroup{
	margin-left: -10px !important;
	
	img{
		width: 140px;
		height: 140px;
		border:1px solid #E6E6E6;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;  
		margin-top: 10px;
	}

	
}

.searchlist {
	margin-top: 30px!important;


	img {
		width: 175px;
		text-align: center;
	}

	.row.users{
		padding-bottom: 5px;
		border-bottom: 1px solid #898B8E;
		.col-xs-{
			padding-top: 15px!important;
		}
	}

	.movieinlist {
		margin-bottom: 20px!important;
		padding-bottom: 30px;
		border-bottom: 2px solid #898B8E;

		.poster{
			text-align: center;
			margin-top: 25px;

			button {
				width: 175px;
				margin-top: 10px;
			}
		}

		.addtolist {
			width: 190px;
			height: 32px;
			float: right;
			margin-top: -18px!important;

			button {
				height: 30px;
				padding-top: 5px;
			}
		}

		.caret {
			float: right;
			margin-top: 7px;
		}

		.plot p {
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 2px dotted #898B8E;
			border-top: 2px dotted #898B8E;
			margin-bottom: 7px!important;
		}
	}

	

}



.users {

	
	.user {
	padding: 20px;
	
		img {
			height: 60px;
			width: 60px;
		}
	}

	.user:nth-child(even) {
		background-color: white;
	}


}
.button-group-vertical{
		.inputtt{
		background-color: grey !important;
		border: 0px;
	}
}
.aboutfield{
	height: 50px;
	width: 200px;
}

.modal.fade{
	background-color: white;
    width: 750px !important; 
    position:block;
    margin: auto;
    height: 500px !important;


}
.moviesinlists{
	border-bottom: 1px dotted #898B8E;
}

.lists{
	border-bottom: 1px dotted white;

}

    .span6.input-large{
    	width: 500px;
    	height: 100px;
    }

    .fileinput{
    	padding-top: 10px;
    	position: relative;
    }

    .btn-primary{
    	width: 120px !important;
    }

   .followbutton .btn {
   		width: 100%!important;
   }


