<div class="mainpage">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Recently Top Rated</h2>
			<div class="moviescontainer">
				test
			</div>	
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Friends Activity</h2>
			<div class="moviescontainer">
				test
			</div>		
		</div>	
	</div>
</div>