<div class="movie">
	<div class="row">
		<div class="col-lg-4 col-md-4 poster">
			<%= image_tag("poster.jpeg") %> 
		</div>
		<div class="col-lg-8 col-md-8">
			<div class="row-fluid title">
				<h2>Gravity (2013)</h2>
			</div>
			<div class="row-fluid year">
				<h4>Drama - Science Fiction - Fantasy</h4>
			</div>
			<div class="row-fluid desc">
				<p>GRAVITY, directed by Oscar (R) nominee Alfonso Cuaron, stars Oscar (R) winners Sandra Bullock and George Clooney in a heart-pounding thriller that pulls you into the infinite and unforgiving realm of deep space. Bullock plays Dr. Ryan Stone, a brilliant medical engineer on her first shuttle mission, with veteran astronaut Matt Kowalsky (Clooney). But on a seemingly routine spacewalk, disaster strikes. The shuttle is destroyed, leaving Stone and Kowalsky completely alone</p>
			</div>		
		</div>
	</div>
</div>
