<div class="movie">
	<div class="row">
		<div class="col-sm-4 poster">
			<div class="row">
				<%= image_tag("poster.jpeg") %> 
			</div>
			<div class="row">
				<button class="btn seen btn-success">Seen</button>
			</div>
			<div class="row line btn-group">
	          	<button type="button" class="btn addtolist btn-primary">Add to list</button>
	          	<button type="button" class="btn nocaret btn-primary dropdown-toggle" data-toggle="dropdown">
            		<span class="caret"></span>
          		</button>
		        <table class="dropdown-menu" role="menu">
		          	<tr>
		         		<td>WishList</td> 
	             		<td><button class="btn btn-success">Add</button></td>
	             	<tr>
		           	<tr>
		           		<td>My Top Ten Movies</td>
		          		<td><button class="btn btn-success">Add</button></td>
		           	<tr>
		           	<tr>
		           		<td>Top Horror Movies</td>
	             		<td><button class="btn btn-success">Add</button></td>
		          	<tr>
	            	<tr>
	              		<td>Worst Movies</td>
	              		<td><button class="btn btn-success">Add</button></td>
	            	<tr>
	          	</table>
        	</div>
		</div>
		<div class="col-sm-8">
			<div class="row title">
				<h2>Gravity (2013)</h2>
			</div>
			<div class="row year">
				<h4>Drama - Science Fiction - Fantasy</h4>
			</div>
			<div class="row runtime">
				<p>Rated PG-13 - Runtime: 91 min</p>
			</div>
			<div class="row desc">
				<p>GRAVITY, directed by Oscar (R) nominee Alfonso Cuaron, stars Oscar (R) winners Sandra Bullock and George Clooney in a heart-pounding thriller that pulls you into the infinite and unforgiving realm of deep space. Bullock plays Dr. Ryan Stone, a brilliant medical engineer on her first shuttle mission, with veteran astronaut Matt Kowalsky (Clooney). But on a seemingly routine spacewalk, disaster strikes. The shuttle is destroyed, leaving Stone and Kowalsky completely alone</p>
			</div>
			<div class="row releasedate">
				<p><strong>In Theaters:</strong> Jun 18, 2010 </p>
				<p><strong>On DVD:</strong> Nov 2, 2010</p>
			</div>
			<div class="row cast">
				<p><strong>Cast:</strong> Sandra Bullock, George Clooney, Ed Harris </p>
			</div>		
		</div>
	</div>
</div>
