<div class="moviepage">
	<div class="row-fluid movietoolbar">
		Seen/not seen || Add to wishlist || Add to movielist
	</div>
	<div class="row-fluid">
		<div class="span4">
			Picture
		</div>
		<div class="span8">
			<div class="row-fluid">Title</div>
			<div class="row-fluid">Year || Genre</div>
			<div class="row-fluid">Description</div>		
		</div>
	</div>
</div>
