<div class="row">

	<div class="col-sm-6">
		<div class="row profilegroup">
			<div class="col-xs-5">
				<%= image_tag("userpic.jpeg") %>
			</div>
			<div class="col-xs-7">
				<h2>Julie Dahl</h2>
				Om meg:
			</div>
		</div>

		
	</div>
	<div class="col-sm-6">

		<div class= "row followingbuttons">
			<div class="col-xs-4">
					
				<button type="button" class="btn followers">30<p>following</p></button>
				</div>
			<div class="col-xs-4"><button type="button" class="btn followers">30<p>followers</p></button>
				</div>
			
			<div class="col-xs-4"><button type="button" class="btn followers">30<p>movies seen</p>
			</button>
				</div>
			</div>

		<div class= "row">
		 <input class="btn btn-lg btn-block" type="follow" name= "Follow"value="Follow">
	</div></div>
	

</div>

<div class="row">

	<div class="col-xs-4">
		lister
		<div class="btn-group">
		<input class="btn btn-lg btn-block" type="follow" name= "Follow"value="Follow">
		<input class="btn btn-lg btn-block" type="follow" name= "Follow"value="Follow">
		<input class="btn btn-lg btn-block" type="follow" name= "Follow"value="Follow">
		<input class="btn btn-lg btn-block" type="follow" name= "Follow"value="Follow">
		<input class="btn btn-lg btn-block" type="follow" name= "Follow"value="Follow">
		</div>
	
	</div>

	<div class="col-lg-8">
		en liste
	</div>


</div>