/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-star-rating
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";

/* Bootstrap override */
.thumbnail{
	text-align: center !important;
}
/*end*/

body {
	background-color: #E6E6E6!important;
}

.row {
	margin: 0!important;
}
.randommovie{
	margin-bottom: 20px;
}

.logout {
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
}

.banner {
	background-color: white;
	padding: 10px;
	border-bottom: solid 1px rgba(0,0,0,0.2);

	.search {
		text-align: center;

		.btn {
			width: 100px;
		}

		.input-group {
			padding: 0!important;
			width: 300px;
			display: inline-table;
		}

		.input-row {
			padding: 0!important;
		}

		.btn-row {
			padding-bottom: 5px!important;
		}
	}

	.profile {
		img {
			width: 60px;
			height: 60px;
			margin-top: 6px;
		}
	}
}

.randommovie {
	text-align: center;

	.poster {
		img {
			max-width: 175px;
		}
	}
	.prev {
		background: url('/assets/prev.png');
		background-size: 50px 50px;
		width: 50px;
		height: 50px;
		border: none;
		margin-left: 52%;
		margin-top: 90px;
	}
	.next {
		background: url('/assets/next.png');
		background-size: 50px 50px;
		width: 50px;
		height: 50px;
		border: none;
		padding-left: 0;
		margin-left: -147%;
		margin-top: 90px;
	}
	.no,
	.yes {
		width: 250px;
		margin-top: 10px;
	}

	.line {
		margin-top: 10px!important;
		border-top: 2px dotted #898B8E;
		width: 250px;
		display: inline-block;
	}

	.stars {
		.rating-cancel {
			display: none!important;
		}

		.star-rating-control {
			display: inline-block;
			margin-top: 5px;
		}

		div.star-rating, div.star-rating a {
			background: url('/assets/star1.png') no-repeat 0 0px!important;
			width: 54px;
			height: 50px;
		}

		div.star-rating-hover {
			background: url('/assets/star2.png') no-repeat 0 0px!important;
		}

		div.star-rating-on {
			background: url('/assets/star3.png') no-repeat 0 0px!important;
		}
	}
}

.nav.nav-tabs{
	border: none;
}

@media(max-width:991px){
	.banner {
		.profile {
			border-top: solid 1px rgba(0,0,0,0.2);
			text-align: center;
			padding-top: 20px;
			margin-top: 20px;
		}
	}
}
@media(min-width:992px){}
@media(min-width:1200px){}


