// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie {

	.poster {
		text-align: center;
		margin-top: 20px;
	}

	.title {
		color: blue;
	}

	.year {

	}

	.desc {

	}
	
}

.mainpage {
	margin-left: 10px;
	margin-right: 10px;
	
	.moviescontainer {
		height: 200px;
		width: 100%;
		background-color: black;
	}
}