// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie {

	.poster {
		text-align: center;
		margin-top: 20px;
	}

	.title {
		color: blue;
	}

	.year {

	}

	.desc {

	}
	
}

.mainpage {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	
	.listcontainer {
		height: 200px;
		
		img {
			height: 190px;
		}

		.movies {
			overflow-x: hidden;
			white-space: nowrap;
			padding: 5px;
			margin-left: 45px;
			margin-right: 45px;
		}

		.btn {
			height: 200px;
			text-align: center;
			width: 50px;
			background-color: #8ad7f8;
			border: none;
		}

		.btn.left {
			position: absolute;
			left: 10px;
			top: 43px;
		}

		.btn.right {
			position: absolute;
			right: 10px;
			top: 43px;	
		}

	}

	.friendactivity {
		margin-bottom: 20px!important;
	}

	.friendinfo {
		background-color: white;
		font-size: 19px;
		padding: 5px;

		img {
			height: 40px;
			width: 40px;
		}
	}

	.movielist {
		background-color: white;
		overflow-x: hidden;
		white-space: nowrap;
		padding-bottom: 5px;
		padding-left: 5px;

		img {
			height: 120px;
		}
	}
}