@import "twitter/bootstrap";

h1{

	
}

navbar.navbar-default.navbar-static-top{

	border: solid 1px rgba(0,0,0,0.2);
	background-color: #8AD7F8 !important;
	

}

body {
	background-color: #E6E6E6!important;
}